@font-face {
  font-family: "PP Monument Extended"; /* This matches what you've used for 'p' */
  src: url("./otf/PPMonumentExtended-Regular.otf") format("opentype"); /* Adjust path and filename */
  font-weight: normal; /* Or 'bolder' if this specific file is your bolder version */
  font-style: normal;
  font-display: swap; /* Best practice for font loading */
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
width: 100vw;
height: 500vh;
background-color:#e6e5e3;
}

canvas {
position: fixed;
top: 0;
left: 0;
}

.nav {
position: fixed;
top: 0;
left: 0;
width: 100vw;
padding: 1.5em;
display: flex;
z-index: 2;
mix-blend-mode: difference;
}

.nav-col {
flex: 1;
}
.nav-col:nth-child(1) {
display: flex;
}
.nav-col:nth-child(1) p {
flex: 1;
}

.nav-col:nth-child(2){
text-align: right;
}
p{
text-transform: uppercase;
font-family: "PP Monument Extended";
src: url("./otf/PPMonumentExtended-Regular.otf") format("opentype");
font-size: 10px;
font-weight: bolder;
line-height: 1.125;
color: #fff;
}

.footer{
position: fixed;
bottom: 0;
left: 0;
width: 100vw;
padding: 1.5em;
display: flex;
justify-content: space-between;
z-index: 2;
mix-blend-mode: difference;
}

.lenis.lenis-smooth {
scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}

.lenis.lenis-stopped {
overflow: clip;
}
.lenis.lenis-smooth iframe{
pointer-events: none;
}